body { background: lightslategray;
    margin: auto;


}
#score{ color: white;
    font-size: 5em;
    align-items: center;
    justify-content: center;
}
#description{
color: white;
}

h1,h2,h3, p {
    font-family: sans-serif;
}


h1 {color: white;
    display: flex;
    text-align: center;


}

.container {
display: flex;
    justify-content: center;
    align-items: center;
}
.selection { display: flex;
    justify-content: center;

}

img { margin: 0.5em;
    padding: 0.13em;

}

.unselected {
    9px white;
}
.selected {
    border: 9px darkblue;
}
.compSelected {
    border: 9px purple;
}

